/**
 * @name cozer
 * @author Gibbu#1211
 * @version 2.0.0
 * @description Display your picture of choice with adjustable blur and brightness.
 * @source https://github.com/DiscordStyles/FrostedGlass
 * @invite ZHthyCw
 * @donate https://paypal.me/IanRGibson
 * @website https://gibbu.me
 * @authorId 174868361040232448
 * @BDEditor Frosted Glass
*/

@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/lHS35CW.gif');
  --background-image-blur: 5px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-image: url('https://i.imgur.com/3nwRvbr.png');
  --popout-image-blur: 5px;
  --popout-image-size: contain;
  --popout-image-position: center right;
  --overlay-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7fc8980d-6eb5-495c-8e88-296f20ac2b73/dfk0g5q-3471247f-1b79-4190-a8a8-3d4de903ad23.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzdmYzg5ODBkLTZlYjUtNDk1Yy04ZTg4LTI5NmYyMGFjMmI3M1wvZGZrMGc1cS0zNDcxMjQ3Zi0xYjc5LTQxOTAtYThhOC0zZDRkZTkwM2FkMjMuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ub-2K3OPn_yig5-E510lxnzNvNAnW1BB4ASRzXysWM4');
  --overlay-image-blur: 4px;
  --overlay-image-size: cover;
  --overlay-image-position: center left;
  --home-button-image: url('https://i.imgur.com/x32RiXP.jpg');
  --home-button-size: cover;
  --home-button-position: center;
  --serverlist-brightness: 0.8;
  --left-brightness: 0.6;
  --middle-brightness: 0.6;
  --right-brightness: 0.04;
  --overlay-brightness: 0.66;
  --gradient-primary: 103,58,183;
  --gradient-secondary: 63,81,181;
  --link-colour: #00b0f4;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --gradient-direction: 320deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --font: gg sans;
  --window-padding: 0px;
  --window-roundness: 0px;
  --update-notice-1: none;
}

/* Any custom CSS below here */


